@import url('/public/assets/fonts/Inter.css');
@import url('@tldraw/editor/editor.css');
@import url('@tldraw/ui/ui.css');

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
	overscroll-behavior: none;
	touch-action: none;
	overflow: hidden;
	min-height: 100vh;
	/* mobile viewport bug fix */
	min-height: -webkit-fill-available;
	height: 100%;
}

.tldraw__editor {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.tlui-toolbar {
	margin-bottom: 25px !important;
}
